// 是网页整体变成灰色
.htmlToGray() {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url('data:image/svg+xml;utf8,#grayscale');
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
}

// 空状态样式
.emptyWrap() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

// 双击不选中文字
.clickNoSelectText {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webkitScrollbarStyle {
  /*整个滚动条*/
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
  }

  /*定义滚动条轨道*/
  ::-webkit-scrollbar-track {
    height: 6px;
  }

  /*定义滑块*/
  ::-webkit-scrollbar-thumb {
    background-color: @font-5;
    border-radius: 5px;
  }
}

@btnColor: linear-gradient(to left, #c8e4f0, #bad0f3);
@btnHoverColor: linear-gradient(to right, #39dfeb, #8cb4f5);
@menubgc: linear-gradient(to right, #9cd7f1, #8cb4f5);
@treebgc: linear-gradient(to left, #c8e4f0, #bad0f3);
@boxShadow: 0 2px 5px 2px #5378f0;

// 标签颜色
@tagBgc: #f2f3f5;

@gray-0: #fff;
@gray-1-1: #e4e6eb;
@gray-1-2: rgba(228, 230, 235, 0.5);
@gray-1-3: #e4e6eb;
@gray-2: #f2f3f5;
@gray-3: #f7f8fa;
@background: #f2f3f5;
@layer-1: #fff;
@layer-2-1: #f7f8fa;
@layer-2-2: rgba(247, 248, 250, 0.7);
@layer-3-fill: #f2f3f5;
@layer-3-border: #e4e6eb;
@layer-4-dropdown: #fff;
@layer-5: #fff;
@brand-1-normal: #1e80ff;
@brand-2-hover: #1171ee;
@brand-3-click: #0060dd;
@brand-4-active: #007fff;
@brand-5-disable: #abcdff;
@brand-6-light: #eaf2ff;
@mask-1: rgba(0, 0, 0, 0.4);
@mask-2: #fff;
@mask-3: none;
@brand_fill1_normal: rgba(30, 128, 255, 0.05);
@brand_fill2_hover: rgba(30, 128, 255, 0.1);
@brand_fill3_click: rgba(30, 128, 255, 0.2);
@brand_stroke1_normal: rgba(30, 128, 255, 0.3);
@brand_stroke2_hover: rgba(30, 128, 255, 0.45);
@brand_stroke3_click: rgba(30, 128, 255, 0.6);
@font-1: #252933;
@font-2: #515767;
@font-3: #4e5969;
@font-4: #8a919f;
@font-5: #c2c8d1;
@font-brand1-normal: #1e80ff;
@font-brand2-hover: #1171ee;
@font-brand3-click: #0060dd;
@font-brand4-disable: #abcdff;
@font-success: #2bb91b;
@font-warning: #ff8412;
@font-danger: #ff5132;
@font-white-disable: #fff;
@font-white: #fff;
@success-1-normal: #00b453;
@success-2-deep: #00964e;
@success-3-light: #e2faed;
@warning-1-normal: #ff7426;
@warning-2-deep: #e05e00;
@warning-3-light: #fff3e5;
@danger-1-normal: #f64242;
@danger-2-deep: #cb2634;
@danger-3-light: #fff2ff;
@sub-1-purple: #9f54ff;
@sub-2-blue: #57a0ff;
@sub-3-cyan: #5ad7ff;
@sub-4-green: #33d790;
@sub-5-yellow: #ffcc15;
@sub-6-orange: #ff834e;
@sub-7-red: #ff5e54;
@navigation: #fff;
@shade-1: rgba(0, 0, 0, 0.2);
@shade-2: rgba(0, 0, 0, 0.4);
@shade-3: rgba(0, 0, 0, 0.6);
@popup: #fff;
@popover: rgba(0, 0, 0, 0.8);
@sheets: #f7f8fa;
@content-padding: #d8e6df;
@menu-hover: #d8e6df;
@menu-active: #1da57a;
@border-gray: #f1f1f1;

// 媒体查询配置
@max-width: 960px;
