body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  :global(#root) {
    height: 100vh;
  }

  :global {
    .timeModel {
      position: fixed;
      top: 60px;
      left: 50%;
      transform: translatex(-50%);
      border: 1px solid #ffe58f;
      background-color: #fff3e5;
      padding: 8px 15px;
      border-radius: 5px;
    }
    .warnIcon {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 5px;
      border-radius: 18px;
      text-align: center;
      line-height: 18px;
      color: #fff;
      background-color: #faad14;
    }
  }

  @media screen and (max-width: 960px) {
    :global(#root) {
      max-width: 960px;
      min-width: 350px;
      height: 100vh;
    }
  }
}
